<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <script src="/socket.io/socket.io.js"></script>
    <script src="client/util/js/lib/tpl.js"></script>
    <script src="client/util/js/components/tab.js"></script>
    <link href="client/util/css/tab.css" rel="stylesheet">

</head>
<body>


<button id="ad">加</button>

<script>
    var ip = 'http://localhost';
    var socket = io.connect(ip);
    //终端类型
    var role = {
        //显示设备
        monitor: 'monitor',
        //记账
        base: 'base',
        //终端，点菜器
        terminal: 'terminal'
    }
    //事件类型
    var ne = {
        addDesk: 'addDesk',
        login: 'login',
        loginSuccess: 'ls'

    }
    var me = {
        role: role.terminal,
        id: Math.random() * 1989
    }
    socket.emit(ne.login, me);
    socket.on(ne.loginSuccess, function (o) {
        if (o.id == me.id) {
            console.log(me);
        }
    })
    document.querySelector('#ad').onclick = function () {
        socket.emit(ne.addDesk, {
            a: 1,
            b: 2
        });
    }

    var tpl = {
        'a': "<%for (var i=0;i<list.length;i++) {%>" +
                "<div class=list-item>" +
                "<img src='<%= list[i].img %>' />" +
                "<div> <%=list[i].text%></div>" +
                "<div class=price><%= list[i].price%></div>" +
                "</div>" +
                "<%}%>"
    }
    var data = [
        {
            tab: '家常菜',
            tpl: tpl.a,
            data: {list: [
                {text: '可乐鸡', img: 'http://localhost:8000/client/util/img/a.jpg', price: '$100'},
                {text: '可乐鸡', img: 'http://localhost:8000/client/util/img/a.jpg', price: '$100'},
                {text: '可乐鸡', img: 'http://localhost:8000/client/util/img/a.jpg', price: '$100'},
                {text: '可乐鸡', img: 'http://localhost:8000/client/util/img/a.jpg', price: '$100'},
                {text: '可乐鸡', img: 'http://localhost:8000/client/util/img/a.jpg', price: '$100'},


            ]}
        },
        {
            tab: '肉馅饺子',
            tpl: tpl.a,
            data: {list: [
                {text: '可乐鸭', img: 'http://localhost:8000/client/util/img/gpj.jpg', price: '$200'},
                {text: '可乐鸭', img: 'http://localhost:8000/client/util/img/gpj.jpg', price: '$200'},
                {text: '可乐鸭', img: 'http://localhost:8000/client/util/img/gpj.jpg', price: '$200'},
                {text: '可乐鸭', img: 'http://localhost:8000/client/util/img/gpj.jpg', price: '$200'},
                {text: '可乐鸭', img: 'http://localhost:8000/client/util/img/gpj.jpg', price: '$200'},
                {text: '可乐鸭', img: 'http://localhost:8000/client/util/img/gpj.jpg', price: '$200'},
                {text: '可乐鸭', img: 'http://localhost:8000/client/util/img/gpj.jpg', price: '$200'},
                {text: '可乐鸭', img: 'http://localhost:8000/client/util/img/gpj.jpg', price: '$200'},
                {text: '可乐鸭', img: 'http://localhost:8000/client/util/img/gpj.jpg', price: '$200'},
                {text: '可乐鸭', img: 'http://localhost:8000/client/util/img/gpj.jpg', price: '$200'},
                {text: '可乐鸭', img: 'http://localhost:8000/client/util/img/gpj.jpg', price: '$200'}

            ]}
        },
        {
            tab: '素馅饺子',
            tpl: tpl.a,
            data: {list: [
                {text: '鱼香肉丝', img: 'http://localhost:8000/client/util/img/jz.jpeg', price: '$200'},
                {text: '鱼香肉丝', img: 'http://localhost:8000/client/util/img/jz.jpeg', price: '$200'},
                {text: '鱼香肉丝', img: 'http://localhost:8000/client/util/img/jz.jpeg', price: '$200'},
                {text: '鱼香肉丝', img: 'http://localhost:8000/client/util/img/jz.jpeg', price: '$200'},
                {text: '鱼香肉丝', img: 'http://localhost:8000/client/util/img/jz.jpeg', price: '$200'},
                {text: '鱼香肉丝', img: 'http://localhost:8000/client/util/img/jz.jpeg', price: '$200'}

            ]}
        }
    ]

    var tab = new tab({
        tab: data
    });


</script>
</body>
</html>