<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <script src="client/util/js/lib/tpl.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <style type="text/css">
        .c {
            width: 1000px;
            height: 400px;
            border: 1px solid red;
            padding: 10px;
        }

        .order-list {
            width: 100px;
            height: auto;
            display: inline-block;
            float: left;
            border: 1px solid red;
            border-radius: 10px;
            margin:10px;
        }
    </style>

</head>
<body>

<div class="c">

</div>

<script>
    var ip = 'http://localhost';
    var socket = io.connect(ip);
    //终端类型
    var role = {
        //显示设备
        monitor: 'monitor',
        //记账
        base: 'base',
        //终端，点菜器
        terminal: 'terminal'
    }

    //事件类型
    var event = {
        addDesk: 'addDesk',
        login: 'login',
        loginSuccess: 'ls'

    }
    var me = {
        role: role.monitor,
        id: Math.random() * 1989
    }

    //发送登陆事件
    socket.emit(event.login, me);
    //登陆成功回调
    socket.on(event.loginSuccess, function (o) {
        if (o.id == me.id) {
            console.log('login success');
        }
    })


    var tpl = {
        a: "<%for (var i=0;i<list.length;i++) {%>" +
                "<div class=list-item>" +
                "<div class=text> <%=list[i].text%></div>" +
                "<div class=price><%= list[i].price%></div>" +
                "</div>" +
                "<%}%>",
        b: "<%for (var i=0;i<list.length;i++) {%>" +
                "<div class='list-item ol-list-item'>" +
                "<div class=ol-text> <%=list[i].text%></div>" +
                "<div class=ol-price><%= list[i].value%></div>" +
                "</div>" +
                "<%}%>"
    }
    var body = document.querySelector('.c');
    socket.on(event.addDesk, function (desk) {
        console.log(desk);
        var list = document.createElement('div');
        list.className = 'order-list';
        list.innerHTML = template.compile(tpl.a)(desk);
        body.appendChild(list);
    })

</script>
</body>
</html>