
.left {
    width: 14%;

    height: 400px;
    display: inline-block;
    vertical-align: top;
}

.right {
    width: 85%;
    /*border: 1px solid red;*/
    height: 400px;
    display: inline-block;

}

.header {
    height: 60px;
    width: 100%;
    text-align: center;
    line-height: 60px;

}

nav {
    height: 30px;
    line-height: 20px;
    width: 100%;
    margin-bottom: 10px;
    padding: 5px 0;
    position: relative;

}

nav li {
    float: left;
    margin-left: 30px;
    font-size: 13px;
    list-style-type: none;
    border-radius: 5px;
}

nav li:hover {
}

.theme-ul {
    position: absolute;
    top: 30px;
    left: 0;
    z-index: 101;
    text-align: left;
    -webkit-transition: display .5s cubic-bezier(0, 1.03, .01, 1.16);
    -moz-transition: height .5s cubic-bezier(0, 1.03, .01, 1.16);
    -ms-transition: height .5s cubic-bezier(0, 1.03, .01, 1.16);
    -o-transition: height .5s cubic-bezier(0, 1.03, .01, 1.16);
    transition: display .5s cubic-bezier(0, 1.03, .01, 1.16);
}

.theme-ul li {
    margin-left: 0;
    float: none;
    border-radius: 0;
    padding: 5px 10px;
}
.theme-ul li:hover{
    opacity: .9;
    color: black;
}

