
.left {
    width: 14%;

    height: 400px;
    display: inline-block;
    vertical-align: top;
}

.right {
    width: 85%;
    /*border: 1px solid red;*/
    height: 400px;
    display: inline-block;


}