* {
    padding: 0;
    margin: 0;
    /*-webkit-user-select: none;*/
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -moz-user-select: none; /*火狐*/
    -webkit-user-select: none; /*webkit浏览器*/
    -ms-user-select: none; /*IE10*/
    -khtml-user-select: none; /*早期浏览器*/
    user-select: none;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

html {
    -webkit-text-size-adjust: none;
    -ms-touch-action: none;
}

.c-darkblue {
    background-color: #2b5283;
    background-image: -webkit-linear-gradient(top, #3e76bc, #325e96 3%, #254670);
    background-image: -webkit-gradient(linear, 50% 0, 50% 100%, color-stop(0%, #3e76bc), color-stop(3%, #325e96), color-stop(100%, #254670));
    background-image: linear-gradient(top, #3e76bc, #325e96 3%, #254670);
    color: white;
}

.c-lightblue {
    background-color: #1985d0;
    background-image: -webkit-linear-gradient(top, #4ca9e9, #1e93e4 3%, #1676b9);
    background-image: -moz-linear-gradient(top, #4ca9e9, #1e93e4 3%, #1676b9);
    background-image: linear-gradient(top, #4ca9e9, #1e93e4 3%, #1676b9);
    color: #ffffff;
}

.rtl10 {
    border-top-left-radius: 10px;
}

.rtr10 {
    border-top-right-radius: 10px;
}

.c-origin {
    background-image: -webkit-gradient(linear, 0% 15%, 0% 100%, from(#B09904), to(#756603));
    color: white;
}

.c-silver {
    background-color: #c9c9c9;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#c9c9c9), to(#848484), color-stop(0.6, #a1a1a1));
    background-image: -moz-linear-gradient(top, #c9c9c9, #848484, #a1a1a1 90%);
}

.silver li:hover {
    opacity: .8;
    color: white;
}

.cr {
    color: red;
}

.c-darkred {
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FC0303), to(#5E0303));
    color: white;
}

