div {
    box-sizing: border-box;
}

.g-filed {
    display: inline-block;
    width: 33%;
}

.g-fields {
    background: goldenrod;
    color: white;
    text-align: left;
}

.list-item {
    padding: 5px 0;
    border-bottom: 1px dashed yellowgreen;
}

.g-query {
    display: inline-block;

}

.g-foot {
    height: 40px;
    padding: 5px 0;
}

.g-tools {
    padding: 5px 0;

    height: 40px;

}

.g-title {
    text-align: center;
    background: dodgerblue;
    color: white;
    padding: 5px 0;
    height: 30px;
}

.page {
    width: 66%;

    height: 30px;
    display: inline-block;
    vertical-align: top;

}

.data-info {
    width: 32%;

    height: 30px;
    display: inline-block;
    vertical-align: top;
}

.last, .next, .p {
    width: 30px;;
    height: 30px;
    border-radius: 15px;
    background: cornflowerblue;
    display: inline-block;
    line-height: 30px;
    text-align: center;
}

.g-f {
    border-left: 1px solid white;
    text-align: center;
}

.a-grid {
    border: 1px solid cornflowerblue;
    box-sizing: border-box;
}

.g-list {
    overflow-x: hidden;
    overflow-y: scroll;

}