div {
    box-sizing: border-box;
}

.g-field {
    display: inline-block;
    width: 16%;
    height: 100%;
    line-height: 100%;
    text-align: center;
}

.line, .line-field {
    width: 40px;
}

.g-sum {
    background: silver;
    color: white;
}

.middle-bar .pb-selected {
    background: firebrick;
    color: white;
}

.g-fields {
    background: goldenrod;
    color: white;
    text-align: left;
}

.list-item {
    border-bottom: 1px solid yellowgreen;
    position: relative;
    vertical-align: middle;
}

.g-query {
    display: inline-block;
}

.g-foot {
    height: 40px;
    padding: 5px 0;
    background: dodgerblue;
}

.g-tools {
    padding: 5px 0;
    height: 40px;
}

.g-title {
    text-align: center;
    background: dodgerblue;
    color: white;
    padding: 5px 0;
    height: 30px;
}

.page {
    width: 60%;

    height: 30px;
    display: inline-block;
    vertical-align: top;
}

.data-info {
    width: 40%;
    line-height: 40px;
    background: sandybrown;
    color: black;
    text-align: center;
    height: 40px;
    margin-top: -5px;
    display: inline-block;
    vertical-align: top;
    float: right;
    font-size: 14px;
}

.last, .next, .p-bar {
    width: 30px;;
    height: 30px;
    border-radius: 15px;
    background: yellowgreen;
    display: inline-block;
    line-height: 30px;
    text-align: center;
}

.g-f {
    border-left: 1px solid white;
    text-align: center;
}
.g-child-field-container{
    height:20px;
}
.g-child-text{
    float: left;
}
.g-child-value{
    float: right;
}

.a-grid {
    border: 1px solid cornflowerblue;
    box-sizing: border-box;
}

.g-list {
    overflow-x: hidden;
    overflow-y: scroll;
}

.item-selected {
    background: gainsboro;
}

.p-bar, .middle-bar {
    display: inline-block;
}

.middle-bar .p-bar {
    margin: 0 2px;
}

.a-grid {
    -moz-user-select: none; /*火狐*/
    -webkit-user-select: none; /*webkit浏览器*/
    -ms-user-select: none; /*IE10*/
    -khtml-user-select: none; /*早期浏览器*/
    user-select: none;
}

.hidden {
    display: none;
}

.g-f {
    position: relative;
}

[data-type=asc]:after {
    content: '';
    width: 10px;
    height: 10px;
    border-left: 1px solid red;
    border-bottom: 1px solid red;
    position: absolute;
    right: 10px;
    -webkit-transform: rotate(-45deg);
}

[data-type=desc] {
    content: '';
    width: 10px;
    height: 10px;
    border-left: 1px solid red;
    border-bottom: 1px solid red;
    position: absolute;
    right: 10px;
    -webkit-transform: rotate(45deg);
}

