div {
    box-sizing: border-box;
}

.g-field {
    display: inline-block;
    width: 16%;
    height: 100%;
    line-height: 100%;
    text-align: center;
}

.order {
    width: 30%;
}

.line, .line-field {
    width: 40px;
}

.g-sum {
    color: white;
    height:30px;
    line-height: 30px;
    position: absolute !important;
    bottom: 0;
    width: 100%;
}

.middle-bar .pb-selected {
    background: firebrick;
    color: white;
}

.g-fields {
    color: white;
    text-align: left;
    padding: 5px;
}

.gray {
    background: #d7dbde;
    background-image: -webkit-linear-gradient(top, #d7dbde, #a0a2a3);
}

.list-item {
    border-bottom: 1px solid yellowgreen;
    position: relative;
    vertical-align: middle;
}

.g-query {
    display: inline-block;
}

.g-foot {
    height: 40px;
    padding: 5px 0;

}

.g-tools {
    padding: 5px 0;
    height: 40px;
}

.g-title {
    text-align: center;

    color: white;
    padding: 5px 0;
    height: 30px;
}

.page {
    width: 60%;
    height: 30px;
    display: inline-block;
    vertical-align: top;
}

.blue {
    background: #8ab9db;
    background-image: -webkit-linear-gradient(top, #8ab9db, #4daede);
    background-image: -moz-linear-gradient(top, #8ab9db, #4daede);
    background-image: -ms-linear-gradient(top, #8ab9db, #4daede);
    background-image: linear-gradient(top, #8ab9db, #4daede);
}

.red {
    background: #e03d4a;
    background-image: -webkit-linear-gradient(top, #e03d4a, #b51616);
    background-image: -moz-linear-gradient(top, #e03d4a, #b51616);
    background-image: -ms-linear-gradient(top, #e03d4a, #b51616);
    background-image: linear-gradient(to bottom, #e03d4a, #b51616);
}

.data-info {
    width: 40%;
    line-height: 40px;
    color: black;
    text-align: center;
    height: 40px;
    margin-top: -5px;
    display: inline-block;
    vertical-align: top;
    float: right;
    font-size: 14px;
}

.last, .next, .p-bar {
    width: 30px;;
    height: 30px;
    border-radius: 15px;
    background: yellowgreen;
    display: inline-block;
    line-height: 30px;
    text-align: center;
}

.g-f {
    border-left: 1px solid white;
    text-align: center;
}

.g-child-field-container {
    height: 20px;
    border-bottom: 1px solid silver;
}

.g-child-text {
    float: left;
}

.g-child-value {
    float: right;
}

.a-grid {
    border: 1px solid #eee;
    box-sizing: border-box;
}

.g-list {
    overflow-x: hidden;
    overflow-y: scroll;

}
.g-content{
    position: relative;
}

.item-selected {
    background: gainsboro;
}

.p-bar, .middle-bar {
    display: inline-block;
}

.middle-bar .p-bar {
    margin: 0 2px;
}

body {
    -moz-user-select: none; /*火狐*/
    -webkit-user-select: none; /*webkit浏览器*/
    -ms-user-select: none; /*IE10*/
    -khtml-user-select: none; /*早期浏览器*/
    user-select: none;
}

.hidden {
    display: none;
}

.g-f {
    position: relative;
}

[data-type=asc]:after {
    content: '';
    width: 10px;
    height: 10px;
    border-left: 1px solid red;
    border-bottom: 1px solid red;
    position: absolute;
    right: 10px;
    -webkit-transform: rotate(-45deg);
}

[data-type=desc] {
    content: '';
    width: 10px;
    height: 10px;
    border-left: 1px solid red;
    border-bottom: 1px solid red;
    position: absolute;
    right: 10px;
    -webkit-transform: rotate(45deg);
}

