.g-itemContainer {
    float: left;
    overflow: scroll;
    height: 100%;
    border: 1px solid #ddd;
    position: relative;
    margin-left: 5px;
}

.g-nestedList-inner {
    height: 100%;

    left: 0;
    top: 0;

    position: absolute;
}

.g-nestedList {
    overflow-y: hidden;
    overflow-x: scroll;
    width: auto;
}

.nestedlist-item {
    position: relative;
    padding: 4px 0;
}

.nestedlist-item:after {
    content: '';
    position: absolute;
    width: 6px;
    height: 6px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 15px;
    border-right: 1px solid red;
    border-bottom: 1px solid red;
    right: 10px;
}

.nested-selected {
    background: cornflowerblue;
    color: white;
}

.order-list-body {
    height: 140px;
    overflow-y: scroll;
}

.catgory-selected {
    color: red;
}

.pop-list-item-del {
    height: 100%;
}