.pop-list-item {
    display: inline-block;
    padding: 5px;
}

.popup-body {
    position: relative;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.pop-title {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background: dodgerblue;
    color: white;
    text-align: center;
    height: 30px;
    line-height: 30px;

}

.fred {
    color: red;
    font-weight: bold;
}

.order-list-item-container div:nth-child(odd) {
    width: 70%;
}

.order-list-item-container div:nth-child(even) {
    width: 28%;
}

.list-field {
    background: silver;
}

.block {
    display: block;
}

.btn-c {
    height: 40px;
    line-height: 40px;
    width: 100%;
    position: absolute;
    bottom: 40px;
    text-align: center;
}

.btn-c button {
    width: 80px;
    height: 80%;
}

.addison-popup {
    -webkit-transition: .4s cubic-bezier(0, .99, 0, .91);
    -webkit-transform: scale(0);
    position: absolute;
    z-index: 10000;
}

.add {
    background-color: #6c9804;
    border-top-color: #374e02;
    background-image: -webkit-linear-gradient(top, #a2e306, #7eb105 3%, #5b7f03);
    color: white;
}

.cancel {
    background-color: #a40b31;
    background-image: -webkit-linear-gradient(top, #ec1046, #bc0c38 3%, #8c092a);
    border: 1px solid #a40b31;
    color: white;
}

.add:hover {
    opacity: 0.9;
}

.cancel:hover {
    opacity: 0.9;
}