
.tabs {
    display: inline-block;
    vertical-align: top;
    width: 30px;
    position: fixed;
    height: 0;
}

.tab-item {
    writing-mode: tb;
    background: royalblue;
    color: white;
    height: 100px;
    text-align: center;
    width: 100%;
    transition: 0.2 linear;
    -webkit-transform: skew(0, 20deg);
    position: relative;
    font-size: 15px;
}

.selected {
    background: green;
    color: yellow;
}

.inner-text {
    -webkit-transform: skew(0, -20deg);
    height: 100%;
    width: 100%;
    padding: 0 5px;
    box-sizing: border-box;
    writing-mode: vertical-rl;
    -webkit-writing-mode: vertical-rl;
    -moz-writing-mode: vertical-rl; /* 未対応 */
    -o-writing-mode: vertical-rl; /* 未対応 */
    -ms-writing-mode: vertical-rl; /* 未対応 */
    -epub-writing-mode: vertical-rl;
}

.contents {
    width: -webkit-calc(100% - 30px);

}

#scroller {
    position: absolute;
    z-index: 1;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    /*width: 2000px;*/
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
    -o-text-size-adjust: none;
    text-size-adjust: none;
    background: #fff;
}

.wrapper {
    position: absolute;
    z-index: 1;
    top: 0;
    bottom: 0;
    left: 35px;
    /*width: 100%;*/
    overflow: hidden;
}