
* {
    padding: 0px;
    margin: 0;
}

.j-tree {
    font: normal .8em/1.5em Arial, Helvetica, sans-serif;
}

.node-dom {
    font-size: 18px;
    line-height: normal;
    color: #fff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-top: 6px;
    /*border: 1px solid #ef4140;*/
    background: #d7dbde;
    background-image: -webkit-linear-gradient(top, #d7dbde, #a0a2a3);
    color: #444;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
    text-shadow: 0 1px 0 rgba(255, 255, 255, 1);
    padding: 4px 16px 4px 16px;
}

.leaf-container {
    -webkit-transition: -webkit-transform .5s cubic-bezier(0, 1.03, .01, 1.16), height .5s cubic-bezier(0, 1.03, .01, 1.16);
    transition: transform .5s cubic-bezier(0, 1.03, .01, 1.16), height .5s cubic-bezier(0, 1.03, .01, 1.16);

    -webkit-transform-origin: 50% 0;
    -moz-transform-origin: 50% 0;
    -ms-transform-origin: 50% 0;
    -o-transform-origin: 50% 0;
    transform-origin: 50% 0;

    border: solid 1px #b4b4b4;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
    box-shadow: 0 1px 3px rgba(0, 0, 0, .3);

    background: #ddd url('../img/gradient.png') repeat-x 0 0;
}

.leaf-dom {
    display: block;
    color: #666;
    font-size: 16px;
    padding: 4px 16px 4px 16px;
    position: relative;
    z-index: 100;
    -webkit-transition: background .5;
    -moz-transition: background .5;
    -ms-transition: background .5;
    -o-transition: background .5;
    transition: background .5;

}

.leaf-dom:hover {
    color: white;
    background: #0078ff url(../img/gradient.png) repeat-x 0 -100px !important;
}

.leaf-dom:nth-last-child(1):hover {
    background: #0078ff url(../img/gradient.png) repeat-x 0 -100px !important;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

}

.leaf-dom:hover:after {
    height: 100%;
    -webkit-transform: rotateX(0deg);
}

.leaf-dom:hover {
    color: #fff !important;
}

.leaf-selected {
    background: #0078ff url(../img/gradient.png) repeat-x 0 -100px !important;
    color: #fff !important;
}

.leaf-dom:nth-last-child(1) {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.icon {
    display: block;
    width: 0;
    height: 0;
    line-height: 0;
    border-width: 6px;
    float: left;
    right: 5px;
    top: 5px;
    border-style: dashed dashed dashed solid;
    cursor: pointer;
    margin-top: 10px;
}

.collapse {
    border-color: transparent transparent transparent #4c4c4c;
    border-style: dashed dashed dashed solid;
}

.expand {
    border-color: #4c4c4c transparent transparent transparent;
    border-style: solid dashed dashed dashed;
}